* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Anderps_067.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  color: #ffffff;
  margin: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  padding: 15px;
  background-color: #333333;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  background-color: blue;
}