* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Anderps_067.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.card {
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  color: #000000;
  margin: 20px;
}

.card h1 {
  margin-bottom: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card a {
  padding: 15px;
  background-color: #333333;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}

.card a:hover {
  background-color: blue;
}

@media screen and (max-width: 320px) {
  .card {
    padding: 0 5px;
  }

  .card h1 {
    font-size: 24px;
  }

  .card h2 {
    font-size: 16px;
  }

  .card p {
    font-size: 12px;
  }

  a {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    padding: 0 5px;
  }

  .card h1 {
    font-size: 24px;
  }

  .card h2 {
    font-size: 16px;
  }

  .card p {
    font-size: 12px;
  }

  a {
    padding: 10px;
    font-size: 12px;
  }
}